/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.white {
    background-color: #eee;
}

.black {
    background-color: #555;
    /*color: #fff;*/
}

.selected {
    outline: 3px solid red;
}

